apiVersion: apps/v1
kind: Deployment
metadata:
  name: celery-worker
  namespace: it-club-website
spec:
  replicas: 1
  selector:
    matchLabels:
      app: celery-worker
  template:
    metadata:
      labels:
        app: celery-worker
    spec:
      containers:
        - name: celery-worker
          image: akalmannakarmi/it-club-website:latest
          command: ["celery", "-A", "config", "worker", "-l", "info"]
          envFrom:
            - secretRef:
                name: it-club-website-secret
