SECRET_KEY=insert_secret_key
DEBUG=TRUE
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1
DATABASE_NAME=db.sqlite3
CELERY_BROKER_URL=redis://localhost:6379/0
